.idea
/lightning_logs/
/logs/
/model/
/r52/
/results/
/runs/
/data.py
/experimental.py
/experimental_lightning.py
/importerscript.py
/language_model.py
/LICENSE
/r52_loading_script.py
/data/annotated_example.txt
/data/annotated_example_json.txt
/data/embeddings.csv.zip
/data/formal_tagger.out
/data/umls-2021AA-metathesaurus.zip
/data/test_data/
/data/wikitext-2/
/data_collection/pubmed_parsing/
/env
/venv
